node_modules/
/test-output/
/hs_err_pid*
/.idea/
/*.iml
/*.eml
/out
/.idea_modules
/.classpath
/.project
/.cache/
/.history/
/.lib/
/RUNNING_PID
/.settings
/bin/
/db
/.eclipse
/lib/
/logs/
/modules
project/project
project/target
project/boot/
project/plugins/project/
/target
/tmp/
/test-result
/server.pid
/dist/
*.class
*.log
*.sc
lib_managed/
src_managed/
.scala_dependencies
.worksheet
.DS_Store
